/*fonts---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;800&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}


/*colors------------------------*/

.magenta_back {
    background-color: #cc0066;
}

.grey_back {
    background-color: rgb(223, 223, 223);
}

.magenta {
    color: #cc0066;
}

.grey {
    color: #dfdfdf;
}

/*initial elements------------------------*/

html,
body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main_container {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*position and sizes--------------------*/

img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.reset {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.center {
    margin: 0 auto;
}

.center_content {
    text-align: center;
}

.espace {
    margin-bottom: 20px;
}

.inline {
    display: inline-flex;
}

.h85 {
    min-height: 85%;
}

.h100 {
    min-height: 100%;
}

.topposition {
    top: 20%;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.underline {
    border-bottom: 2px solid #cc0066;
}

.small_text{
    font-size: small;
    padding-left: 20px;
}

.right{
    float:right;
}

/*Header------------------------*/



.header_title {
    margin-left: 30px;
}

.nav_button {
    margin-right: 10px;
}

/*Footer------------------------*/

#footer {
    background-color: #cc0066;
    color: rgb(239, 244, 245);
    min-height: 20%;

}



/*Instructions / Carousel------------------------*/

#Instructions {
    color: #dfdfdf;
}

#Instructions h1 {
    position: absolute;
    top: 0;
    color: rgb(204, 0, 102);
}

.slider {
    width: 600px;
    height: 400px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    background: #222;
    z-index: 1;
}

#items {
    width: 10000px;
    position: relative;
    top: 0;
    left: -600px;
}

#items.shifting {
    transition: left .2s ease-out;
}

.slide {
    width: 600px;
    height: 400px;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: #FFCF47;
}

.control_carousel {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #cc0066;
    border-radius: 20px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(223, 223, 223, 0.3);
    z-index: 2;
}

.prev_slide,
.next_slide {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev_slide {
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_slide {
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev_slide:active,
.next_slide:active {
    transform: scale(0.8);
}


/*data / chart container------------------------*/

#main_display {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;;
}


/*data / chart menu------------------------*/

.custom-file-label:after {
    content: "Import" !important;
    background-color: #cc0066;
    color:#dfdfdf;
    border-radius: 5px;
}


.menu {
    background-color: #dfdfdf;
    display: none;
}


.chart_menu {
    background-color:#dfdfdf;
    border: none;
    color: #cc0066;
    padding: 20px;
}

.data_menu_element {
    background-color:#dfdfdf;
    border: none;
    color: #cc0066;
}

.data_menu_item {
    background-color: #dfdfdf;
    border: none;
    color: #cc0066;
    display:inline-flex;
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 7px;
    vertical-align: text-top;
}


.data_menu_value {
    background-color: #dfdfdf;
    border: none;
    color: #cc0066;
    display:inline-flex;
    float: right;
    padding: 0;
    height: 90%;
    text-align: right;
}



.data_menu_textarea {
    background-color: #dfdfdf;
    border: 2px solid #cc0066;
    border-radius: 5px;
    color: #cc0066;
    display:inline-flex;
    height: auto;
    resize: vertical;
    padding: 5px;
    max-height: 200px;
}

.data_menu_button{
    background-color: #cc0066;
    color:#dfdfdf;
    border-radius: 5px;
    border-color: #cc0066;
    border-style: double;
    cursor: pointer;
    margin-right: 7px

}

#chart_colour_label img{
    width: 60%;
}

#chartBackground{
    height:1.5em;
    width:50px;
}


#backColour{
    height: 24px;
    width: 24px;
}

#descriptionForm{
    padding:0px 7px;
}


/*data table ------------------*/

#chart_title{
    padding: 11px 30px 0px;
    border-bottom: 2px solid #cc0066;
    margin-bottom: 10px;
}



#data_chart{
width: 90%;
}

.main_table{
    border:2px solid #cc0066; 
    background-color: #dfdfdf;
    color:#222;
    width:90%; 
    border-spacing: 0;
}

.main_table tr{
    height: 50px! important;
}

.main_table th{
    background-color: #cc0066;
    color:#dfdfdf;
    border: 2px solid #dfdfdf;
    text-align: center;
    border-collapse: initial;
}

.main_table td{
    background-color: #dfdfdf;
    color:#cc0066;
    border: 2px solid #cc0066;
    text-align: center;
    border-collapse: initial;
    max-height: 50px! important;
    min-height: 50px! important;
}

.table_input{
    border: 0;
    background: inherit;
    color: inherit;
    text-align: center;
}

.main_table .table_serie{
    background-color: #cc0066;
    color:#dfdfdf;
    border: 2px solid #dfdfdf;
    text-align: center;
    border-collapse: initial;
}


/*canvas------/-----chart-------------*/

#myChart{
    max-height: 400px!important;
}


/* canvas used for export image ---------*/
#canvas {
    display: none;
  }