/*fonts---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;800&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}


/*colors------------------------*/

.magenta_back{
    background-color: #cc0066;
}

.grey_back{
    background-color: #dfdfdf;
}

.magenta{
    color: #cc0066;
}

.grey{
    color: #dfdfdf;
}

/*initial elements------------------------*/

html, body{
    background-color: whitesmoke;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

.menu{
    background-color: tomato;
    display:none;
}

.main_container{
    background-color: forestgreen;
    margin:0 auto;
}


/*position and sizes--------------------*/

img {
    margin: 0;
    padding: 0;
    width: 100%;
}

.reset {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.center {
    margin: 0 auto;
}

.center_content {
    text-align: center;
}

.espace {
    margin-bottom: 20px;
}

.inline{
    display: inline-flex;
}

.h85{
    min-height:85%;
}

.h100{
    min-height:100%;
}

.topposition{
    top:20%;
}



/*Header------------------------*/



.header_title{
    margin-left: 30px;
}

.nav_button{
    margin-right: 10px;
}

/*Footer------------------------*/

#footer{
    background-color: rgb(224, 66, 190);
    color: rgb(239, 244, 245);
    min-height:20%;

}



/*Instructions------------------------*/

#Instructions{
    color: #cc0066;
}